In [1]:
#import packages
import pandas as pd

In [2]:
#import person data
data_person=pd.read_sas('../Capstone_Two_Other_Material/sas/perpub.sas7bdat', format = 'sas7bdat', encoding="ISO-8859-1")

/Users/Avinash/opt/anaconda3/lib/python3.7/site-packages/pandas/io/sas/sas7bdat.py:809: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider using pd.concat instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  rslt[name] = self._string_chunk[js, :]
/Users/Avinash/opt/anaconda3/lib/python3.7/site-packages/pandas/io/sas/sas7bdat.py:800: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider using pd.concat instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  rslt[name] = self._byte_chunk[jb, :].view(dtype=self.byte_order + "d")

In [3]:
#Look at first few rows
data_person.head()

,HOUSEID,PERSONID,R_AGE,EDUC,R_HISP,R_RELAT,R_SEX,R_RACE,PRMACT,PAYPROF,...,SMPLSRCE,WTPERFIN,HBHUR,HTHTNRNT,HTPPOPDN,HTRESDN,HTEEMPDN,HBHTNRNT,HBPPOPDN,HBRESDN
0,30000007,01,67.0,03,02,01,02,02,06,02,...,02,206.690153,T,50,1500,750,750,20,750,300
1,30000007,02,66.0,03,02,02,01,02,01,-1,...,02,197.075742,T,50,1500,750,750,20,750,300
2,30000007,03,28.0,02,02,03,02,02,05,02,...,02,219.514210,T,50,1500,750,750,20,750,300
3,30000008,01,55.0,05,02,01,01,01,01,-1,...,02,63.185911,R,05,300,300,150,05,300,300
4,30000008,02,49.0,04,02,02,02,01,01,-1,...,02,58.665911,R,05,300,300,150,05,300,300

In [4]:
#Looks at dimension
data_person.shape

(264234, 121)

In [5]:
#import household data
data_hh=pd.read_sas('../Capstone_Two_Other_Material/sas/hhpub.sas7bdat', format = 'sas7bdat', encoding="ISO-8859-1")

In [6]:
#Look at first few rows
data_hh.head()

,HOUSEID,TRAVDAY,SAMPSTRAT,HOMEOWN,HHSIZE,HHVEHCNT,HHFAMINC,PC,SPHONE,TAB,...,SMPLSRCE,WTHHFIN,HBHUR,HTHTNRNT,HTPPOPDN,HTRESDN,HTEEMPDN,HBHTNRNT,HBPPOPDN,HBRESDN
0,30000007,02,03,01,3.0,5.0,07,02,01,02,...,02,187.314320,T,50,1500,750,750,20,750,300
1,30000008,05,02,01,2.0,4.0,08,01,01,02,...,02,69.513032,R,05,300,300,150,05,300,300
2,30000012,05,03,01,1.0,2.0,10,01,01,03,...,02,79.419586,C,80,17000,17000,5000,60,17000,7000
3,30000019,05,03,01,2.0,2.0,03,01,05,05,...,02,279.143588,S,40,300,300,150,50,750,300
4,30000029,03,03,01,2.0,2.0,05,02,05,01,...,02,103.240304,S,40,1500,750,750,40,1500,750

In [7]:
#Look at dimension
data_hh.shape

(129696, 58)

In [8]:
#import trip data
data_trip=pd.read_sas('../Capstone_Two_Other_Material/sas/trippub.sas7bdat', format = 'sas7bdat', encoding="ISO-8859-1")

/Users/Avinash/opt/anaconda3/lib/python3.7/site-packages/pandas/io/sas/sas7bdat.py:809: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider using pd.concat instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  rslt[name] = self._string_chunk[js, :]

In [9]:
#Look at first few rows
data_trip.head()

,HOUSEID,PERSONID,TDTRPNUM,STRTTIME,ENDTIME,TRVLCMIN,TRPMILES,TRPTRANS,TRPACCMP,TRPHHACC,...,OBHTNRNT,OBPPOPDN,OBRESDN,DTHTNRNT,DTPPOPDN,DTRESDN,DTEEMPDN,DBHTNRNT,DBPPOPDN,DBRESDN
0,30000007,01,01,1000,1015,15.0,5.244,03,0.0,0.0,...,20,750,300,50,750,300,350,30,300,300
1,30000007,01,02,1510,1530,20.0,5.149,03,0.0,0.0,...,30,300,300,50,1500,750,750,20,750,300
2,30000007,02,01,0700,0900,120.0,84.004,06,0.0,0.0,...,40,1500,750,50,1500,750,750,20,750,300
3,30000007,02,02,1800,2030,150.0,81.628,06,0.0,0.0,...,20,750,300,40,1500,750,750,40,1500,750
4,30000007,03,01,0845,0900,15.0,2.250,03,0.0,0.0,...,20,750,300,50,750,300,350,60,750,300

In [10]:
#Look at dimension
data_trip.shape

(923572, 115)

In [11]:
#import vehicle data
data_veh=pd.read_sas('../Capstone_Two_Other_Material/sas/vehpub.sas7bdat', format = 'sas7bdat', encoding="ISO-8859-1")

In [12]:
#Look at first few rows
data_veh.head()

,HOUSEID,VEHID,VEHYEAR,VEHAGE,MAKE,MODEL,FUELTYPE,VEHTYPE,WHOMAIN,OD_READ,...,HTEEMPDN,HBHTNRNT,HBPPOPDN,HBRESDN,GSYRGAL,GSTOTCST,FEGEMPG,FEGEMPGA,GSCOST,FEGEMPGF
0,30000007,01,2007.0,10.0,49,49032,01,01,03,69000.0,...,750,20,750,300,487.064221,1126.457778,30.0,-9.0,2.31275,01
1,30000007,02,2004.0,13.0,49,49442,01,02,-8,164000.0,...,750,20,750,300,250.899523,580.267873,19.0,-9.0,2.31275,01
2,30000007,03,1998.0,19.0,19,19014,01,01,01,120000.0,...,750,20,750,300,444.462475,1027.930589,18.0,-9.0,2.31275,01
3,30000007,04,1997.0,20.0,19,19021,01,01,02,-88.0,...,750,20,750,300,40.329575,93.272224,18.0,-9.0,2.31275,01
4,30000007,05,1993.0,24.0,20,20481,01,04,02,300000.0,...,750,20,750,300,888.404197,2054.656806,14.0,-9.0,2.31275,01

In [13]:
#Look at dimension
data_veh.shape

(256115, 60)

In [14]:
#merge datasets
#merge person and household data
data_hh_veh = pd.merge(data_hh,data_veh,on=['HOUSEID'])

In [15]:
data_hh_veh.head()

,HOUSEID,TRAVDAY_x,SAMPSTRAT,HOMEOWN_x,HHSIZE_x,HHVEHCNT_x,HHFAMINC_x,PC,SPHONE,TAB,...,HTEEMPDN_y,HBHTNRNT_y,HBPPOPDN_y,HBRESDN_y,GSYRGAL,GSTOTCST,FEGEMPG,FEGEMPGA,GSCOST,FEGEMPGF
0,30000007,02,03,01,3.0,5.0,07,02,01,02,...,750,20,750,300,487.064221,1126.457778,30.0,-9.0,2.31275,01
1,30000007,02,03,01,3.0,5.0,07,02,01,02,...,750,20,750,300,250.899523,580.267873,19.0,-9.0,2.31275,01
2,30000007,02,03,01,3.0,5.0,07,02,01,02,...,750,20,750,300,444.462475,1027.930589,18.0,-9.0,2.31275,01
3,30000007,02,03,01,3.0,5.0,07,02,01,02,...,750,20,750,300,40.329575,93.272224,18.0,-9.0,2.31275,01
4,30000007,02,03,01,3.0,5.0,07,02,01,02,...,750,20,750,300,888.404197,2054.656806,14.0,-9.0,2.31275,01

In [16]:
#Dimension of data
data_hh_veh.shape

(256115, 117)

In [17]:
#Place columns 
data_hh_columns = data_hh.columns
data_veh_columns = data_veh.columns

In [18]:
#There are repeated columns based on documentation
len(data_hh_columns.intersection(data_veh_columns))
#58 + 60 - 35 = 83

35

In [19]:
#Based on documentation, there are supposed to be repeated columns across datasets
data_hh_veh = data_hh_veh.loc[:, ~data_hh_veh.columns.str.endswith('_y')]
data_hh_veh.shape

(256115, 83)

In [20]:
#Look at columns again
data_hh_veh.columns

Index(['HOUSEID', 'TRAVDAY_x', 'SAMPSTRAT', 'HOMEOWN_x', 'HHSIZE_x',
       'HHVEHCNT_x', 'HHFAMINC_x', 'PC', 'SPHONE', 'TAB', 'WALK', 'BIKE',
       'CAR', 'TAXI', 'BUS', 'TRAIN', 'PARA', 'PRICE', 'PLACE', 'WALK2SAVE',
       'BIKE2SAVE', 'PTRANS', 'HHRELATD', 'DRVRCNT_x', 'CNTTDHH', 'HHSTATE_x',
       'HHSTFIPS_x', 'NUMADLT_x', 'YOUNGCHILD', 'WRKCOUNT_x', 'TDAYDATE_x',
       'HHRESP', 'LIF_CYC_x', 'MSACAT_x', 'MSASIZE_x', 'RAIL_x', 'URBAN_x',
       'URBANSIZE_x', 'URBRUR_x', 'SCRESP', 'CENSUS_D_x', 'CENSUS_R_x',
       'CDIVMSAR_x', 'HH_RACE_x', 'HH_HISP_x', 'HH_CBSA_x', 'RESP_CNT',
       'WEBUSE17', 'SMPLSRCE_x', 'WTHHFIN_x', 'HBHUR_x', 'HTHTNRNT_x',
       'HTPPOPDN_x', 'HTRESDN_x', 'HTEEMPDN_x', 'HBHTNRNT_x', 'HBPPOPDN_x',
       'HBRESDN_x', 'VEHID', 'VEHYEAR', 'VEHAGE', 'MAKE', 'MODEL', 'FUELTYPE',
       'VEHTYPE', 'WHOMAIN', 'OD_READ', 'HFUEL', 'VEHOWNED', 'VEHOWNMO',
       'ANNMILES', 'HYBRID', 'PERSONID', 'BESTMILE', 'BEST_FLG', 'BEST_EDT',
       'BEST_OUT', 'GSYRGAL', 'GSTOTCST', 'FEGEMPG', 'FEGEMPGA', 'GSCOST',
       'FEGEMPGF'],
      dtype='object')

In [21]:
#rename columns with "_x"
data_hh_veh.columns = data_hh_veh.columns.str.rstrip('_x')

In [22]:
#Look at columns again
data_hh_veh.columns

Index(['HOUSEID', 'TRAVDAY', 'SAMPSTRAT', 'HOMEOWN', 'HHSIZE', 'HHVEHCNT',
       'HHFAMINC', 'PC', 'SPHONE', 'TAB', 'WALK', 'BIKE', 'CAR', 'TAXI', 'BUS',
       'TRAIN', 'PARA', 'PRICE', 'PLACE', 'WALK2SAVE', 'BIKE2SAVE', 'PTRANS',
       'HHRELATD', 'DRVRCNT', 'CNTTDHH', 'HHSTATE', 'HHSTFIPS', 'NUMADLT',
       'YOUNGCHILD', 'WRKCOUNT', 'TDAYDATE', 'HHRESP', 'LIF_CYC', 'MSACAT',
       'MSASIZE', 'RAIL', 'URBAN', 'URBANSIZE', 'URBRUR', 'SCRESP', 'CENSUS_D',
       'CENSUS_R', 'CDIVMSAR', 'HH_RACE', 'HH_HISP', 'HH_CBSA', 'RESP_CNT',
       'WEBUSE17', 'SMPLSRCE', 'WTHHFIN', 'HBHUR', 'HTHTNRNT', 'HTPPOPDN',
       'HTRESDN', 'HTEEMPDN', 'HBHTNRNT', 'HBPPOPDN', 'HBRESDN', 'VEHID',
       'VEHYEAR', 'VEHAGE', 'MAKE', 'MODEL', 'FUELTYPE', 'VEHTYPE', 'WHOMAIN',
       'OD_READ', 'HFUEL', 'VEHOWNED', 'VEHOWNMO', 'ANNMILES', 'HYBRID',
       'PERSONID', 'BESTMILE', 'BEST_FLG', 'BEST_EDT', 'BEST_OUT', 'GSYRGAL',
       'GSTOTCST', 'FEGEMPG', 'FEGEMPGA', 'GSCOST', 'FEGEMPGF'],
      dtype='object')

In [23]:
#merge person, household data to vehicle data
data_hh_veh_person = pd.merge(data_hh_veh,data_person,on=['HOUSEID','PERSONID'])

In [24]:
data_hh_veh_person.head()

,HOUSEID,TRAVDAY_x,SAMPSTRAT,HOMEOWN_x,HHSIZE_x,HHVEHCNT_x,HHFAMINC_x,PC,SPHONE,TAB,...,SMPLSRCE_y,WTPERFIN,HBHUR_y,HTHTNRNT_y,HTPPOPDN_y,HTRESDN_y,HTEEMPDN_y,HBHTNRNT_y,HBPPOPDN_y,HBRESDN_y
0,30000007,02,03,01,3.0,5.0,07,02,01,02,...,02,219.514210,T,50,1500,750,750,20,750,300
1,30000007,02,03,01,3.0,5.0,07,02,01,02,...,02,206.690153,T,50,1500,750,750,20,750,300
2,30000007,02,03,01,3.0,5.0,07,02,01,02,...,02,197.075742,T,50,1500,750,750,20,750,300
3,30000007,02,03,01,3.0,5.0,07,02,01,02,...,02,197.075742,T,50,1500,750,750,20,750,300
4,30000008,05,02,01,2.0,4.0,08,01,01,02,...,02,58.665911,R,05,300,300,150,05,300,300

In [25]:
data_hh_veh_person.shape

(250200, 202)

In [26]:
#Look at columns
data_hh_veh_columns = data_hh_veh.columns
data_person_columns = data_person.columns

In [27]:
len(data_hh_veh_columns.intersection(data_person_columns))
#83+121-36 = 168

36

In [28]:
#Based on documentation, there are supposed to be repeated columns across datasets
data_hh_veh_person = data_hh_veh_person.loc[:, ~data_hh_veh_person.columns.str.endswith('_y')]
data_hh_veh_person.shape

(250200, 168)

In [29]:
#Look at columns
data_hh_veh_person.columns

Index(['HOUSEID', 'TRAVDAY_x', 'SAMPSTRAT', 'HOMEOWN_x', 'HHSIZE_x',
       'HHVEHCNT_x', 'HHFAMINC_x', 'PC', 'SPHONE', 'TAB',
       ...
       'BIKE_DFR', 'BIKE_GKP', 'CONDTRAV', 'CONDRIDE', 'CONDNIGH', 'CONDRIVE',
       'CONDPUB', 'CONDSPEC', 'CONDTAX', 'WTPERFIN'],
      dtype='object', length=168)

In [30]:
#rename columns with "_x"
data_hh_veh_person.columns = data_hh_veh_person.columns.str.rstrip('_x')

In [31]:
#Look at columns again
data_hh_veh_person.columns

Index(['HOUSEID', 'TRAVDAY', 'SAMPSTRAT', 'HOMEOWN', 'HHSIZE', 'HHVEHCNT',
       'HHFAMINC', 'PC', 'SPHONE', 'TAB',
       ...
       'BIKE_DFR', 'BIKE_GKP', 'CONDTRAV', 'CONDRIDE', 'CONDNIGH', 'CONDRIVE',
       'CONDPUB', 'CONDSPEC', 'CONDTAX', 'WTPERFIN'],
      dtype='object', length=168)

In [ ]:
#merge person, household data, vehicle data to trip data
data_hh_veh_person_trip = pd.merge(data_hh_veh_person,data_trip,on=['HOUSEID','PERSONID'])

In [ ]:
#review first few rows
data_hh_veh_person_trip.head()

In [ ]:
#review dimension
data_hh_veh_person_trip.shape

In [ ]:
#Look at columns
data_hh_veh_person_trip.columns

In [ ]:
#Look at columns
data_hh_veh_person_columns = data_hh_veh_person.columns
data_trip_columns = data_trip.columns

In [ ]:
#There are repeated columns based on documentation
len(data_hh_veh_person_columns.intersection(data_trip_columns))
#168+115-39 = 244168

In [ ]:
#Based on documentation, there are supposed to be repeated columns across datasets
data_hh_veh_person_trip = data_hh_veh_person_trip.loc[:, ~data_hh_veh_person_trip.columns.str.endswith('_y')]
data_hh_veh_person_trip.shape

In [ ]:
#Look at columns
data_hh_veh_person_trip.columns

In [ ]:
#rename columns with "_x"
data_hh_veh_person_trip.columns = data_hh_veh_person_trip.columns.str.rstrip('_x')

In [ ]:
#Look at columns again
data_hh_veh_person_trip.columns

In [ ]:
data_hh_veh_person_trip.head()

In [ ]:
#rename the data
data = data_hh_veh_person_trip

In [ ]:
#no missing in the dataset based on the documentation
data.info(verbose=True)

In [ ]:
#reorder variables
first_cols = ['PERSONID','VEHID']
last_cols = [col for col in data.columns if col not in first_cols]
len(last_cols)

In [ ]:
#reorder variables
data1 = data[first_cols+last_cols]

In [ ]:
#Get first few rows
data1.head()

In [ ]:
#Dimension
data1.shape

In [ ]:
#Import codebook
codebook = pd.read_excel("../Capstone_Two_Other_Material/codebook_v1.2.xlsx")

In [ ]:
#Look at first few rows
codebook.head()

In [ ]:
#forward fill
codebook = codebook.fillna(method='ffill')

In [ ]:
#Get first few rows
codebook.head()

In [ ]:
#reshape codebook
codebook_reshape = codebook.groupby(['Name','Type'])['Code / Range'].agg('='.join).reset_index()

In [ ]:
#get dimension
codebook_reshape.shape

In [ ]:
#Get first few rows
codebook_reshape.head()

In [ ]:
#Get last few rows
codebook_reshape.tail()

In [ ]:
#Split with equal
codebook_reshape['New'] = codebook_reshape['Code / Range'].str.split('=')

In [ ]:
#get first few rows
codebook_reshape.head()

In [ ]:
#Create new column
codebook_reshape['New_m'] = codebook_reshape['New'].apply(lambda x: dict(zip(x[::2], x[1::2])))
codebook_reshape

In [ ]:
#subset for only char
codebook_reshape_c = codebook_reshape[codebook_reshape['Type']=='C']
codebook_reshape_c

In [ ]:
#create a dict variables to loop
val_label = dict(zip(codebook_reshape_c.Name,codebook_reshape_c.New_m))

In [ ]:
#add labels and make variables string
for key, val in val_label.items():
    data1[key].replace(val,inplace=True)

In [ ]:
#get dimension
data1.shape

In [ ]:
#review first few columns
data1.head()

In [ ]:
#Get information about dataset
data1.info(verbose=True)

In [ ]:
codebook_reshape_n = codebook_reshape[codebook_reshape['Type']=='N']
codebook_reshape_n

1) Should the value labels given below become NA? <br>
-9=Not ascertained
-8=I don't know
-7=I prefer not to answer

2) These data have already been reviewed by Data Analysts and Data Managers
Should I still check for outliers??

3) How do I deal with numeric variables that seem to have labels?

4) Is there an easier way to apply labels?

5) Some of the datasets take a long time to import. Is there an faster way to import the datasets?

6) Should I include the trip dataset? <br>
It is based on a day's trip. Would it be useful to use this dataset to predict EV adoption?

Reference: <br>
U.S. Department of Transportation, Federal Highway Administration, 2017 National Household Travel Survey. URL: http://nhts.ornl.gov.